/* start of region for ham menu */
/*#region*/
:root {
    --home-bg-color: #1b1b1e;
    --text-color: #dccca3;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

.first-sight {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    font-size: 10px;
    color: var(--text-color);
    z-index: 900;
    font-weight: normal;
    font-family: sans-serif;
    background-color: var(--home-bg-color);
}

#ham-menu {
    display: none;
}
label[for="ham-menu"] {
    display: block;
    position: absolute;
    top: 24px;
    right: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: var(--home-bg-color);
    border-radius: 15px;
    border: 2px solid var(--text-color);
}
.ham-menu {
    width: 50vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 998;
    background-color: var(--home-bg-color);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ham-menu > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 20px;
    height: 50%;
}
.ham-menu > ul > li {
    font-size: 5rem;
    white-space: nowrap;
    letter-spacing: 0.15em;
    cursor: pointer;
    color: var(--text-color);
}

.ham-menu > ul > li > a {
    font-size: 5rem;
    white-space: nowrap;
    letter-spacing: 0.15em;
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
    color: var(--text-color);
}

#ham-menu:checked + label {
    background-color: transparent;
    border-color: var(--text-color);
}
#ham-menu:checked ~ div.ham-menu {
    transform: translate(0px);
    visibility: visible;
}
.full-page-green {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--home-bg-color);
    z-index: 997;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
    position: fixed;
    top: 0;
    left: 0;
}
#ham-menu:checked ~ div.full-page-green {
    display: block;
    opacity: 1;
    visibility: visible;
}
[for="ham-menu"] > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}
.menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--text-color);
    transition: 500ms;
    transform-origin: right center;
}
[for="ham-menu"] > div > span:nth-child(4),
[for="ham-menu"] > div > span:nth-child(5),
[for="ham-menu"] > div > span:nth-child(6) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform-origin: left center;
}
#ham-menu:checked + label span {
    background-color: var(--text-color);
}
#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
    transform: scale(0);
}
#ham-menu:checked + label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
}
#ham-menu:checked + label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
}
p {
    display: inline;
    font-size: 1.8rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Light";
}
a {
    font-size: 1.6rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Light";
    display: inline;
    font-weight: bold;
    padding: 7px;
    color: var(--icon-hover-bg);
}
a::after {
    display: inline-block;
    font-family: fontello;
    padding: 5px;
    font-size: 1.6rem;
    transform: rotate(-90deg);
}
.text {
    font-size: 2.5rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Bold", sans-serif;
}
.title {
    font-size: 3rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Bold", sans-serif;
    color: var(--icon-hover-bg);
    padding: 10px;
}
.heading {
    font-size: 6rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "Patua One";
}
.centre-text {
    text-align: center;
}
.bold-text {
    font-weight: bold;
}
/*#endregion*/

/* start of region for logo */
/*#region*/

.logo {
    display: block;
    position: absolute;
    top: 24px;
    left: 20px;
    z-index: 995;
    width: 5vw;
}
.logo > img {
    width: inherit;
}
.logo > h1 {
    text-align: center;
}

/*#endregion*/

/* start of region for seperating PC*/
/* #region */

.seperate-PC {
    width: 100%;
    height: 100%;
}

.seperate-PC > div {
    font-size: 300px;
    display: inline-block;
    letter-spacing: 0.1em;
    position: absolute;
    bottom: 25%;
}

.seperate-P {
    right: 49.5vw;
    z-index: 5;
}

.seperate-C {
    left: 49.5vw;
    z-index: 6;
}

.seperate-C {
    animation-name: to-right;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.seperate-P {
    animation-name: to-left;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

/* .pictures {
    position: absolute;
    width: 50vw;
    margin-left: 25vw;
    justify-content: center;
}

#front-picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 90%;
}

#front-picture > img {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 70%;
    height: 80vh;
    opacity: 0%;
    animation-name: reveal-image;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 2s;
} */

#test-image {
    position: absolute;
    display: block;
    height: 80vh;
    bottom: 10vh;
    left: calc(50vw - 14vw);
    opacity: 0%;
    animation-name: reveal-image;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes to-left {
    0% {
        margin-right: 0vw;
    }
    100% {
        margin-right: 24.5vw;
    }
}

@keyframes to-right {
    0% {
        margin-left: 0vw;
    }
    100% {
        margin-left: 24.5vw;
    }
}

@keyframes reveal-image {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

/* #endregion */

/*  start of refion for scroll down toggle */
/* #region */

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: var(--text-color);
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.hide {
    display: none;
}

/* #endregion */

/* start of region for intro to modules */
/* #region */
#intro-to-modules > a {
    text-decoration: none;
    content: none;
}
.intro-to-modules {
    display: block;
    position: absolute;
    height: 30vh;
    width: 100%;
    top: 100vh;
    background-color: var(--home-bg-color);
    text-align: center;
    color: var(--text-color);
}

.typewriter {
    margin-top: 10vh;
    text-decoration: none;
    font-family: sans-serif;
    display: inline-block;
    position: absolute;
    width: 80vw;
    left: 10vw;
    top: 7vw;
    overflow: hidden;
    border-right: 0.15em solid #f5cb5c;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.05em;
}

.typewriter-animation {
    animation: typing 5s steps(30, end), blink-caret 0.5s step-end 10;
}

.select-module {
    display: block;
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 30vh;
    background-color: var(--home-bg-color);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 80vw;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #f5cb5c;
    }
}

/* #endregion */

/* start of region for chosing module */
/* #region */
.yesno {
    font-size: sans-serif;
}

.yesno > form > input[type="radio"] {
    display: none;
}

#recommendation {
    margin-top: 15vh;
    font-family: sans-serif;
    font-size: 40px;
}

form > span {
    font-family: sans-serif;
    font-size: 40px;
    display: inline-block;
    position: relative;
    width: 30vw;
    height: 10vh;
    margin-top: 5vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

form > button {
    height: 10vh;
    width: 30vw;
    margin-top: 5vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

#begin_quiz{
    height: 10vh;
    width: 30vw;
    margin-top: 5vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: var(--text-color);
	background: var(--home-bg-color);
	border: 2px solid var(--text-color);
	box-shadow: 5px 5px 0 var(--text-color),
		-5px -5px 0 var(--text-color),
		-5px 5px 0 var(--text-color),
		5px -5px 0 var(--text-color);
	transition: 500ms ease-in-out;
}

button:hover {
	box-shadow: 20px 5px 0 var(--text-color), -20px -5px 0 var(--text-color);
}

button:focus {
	outline: none;
}

#recommendation > a{
    font-family: sans-serif;
    font-size: 45px;
}

.frame_for_recom{
    width: 75vw;
    height: 60vh;
    border: solid var(--text-color);
    display: block;
    position: absolute;
    left: 12.5vw;
}

.frame_for_recom{
    opacity: 0%;
}

.fade_in_form{
    animation-name: fade_in;
    animation-delay: 5s;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade_in{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

/* #endregion */
